.btn{
   
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer; 
}

/* accion de presionar btn */
.btn:active{
    transform: scale(.9);
}


#play{
    background-image: url('../images/play.svg');
    
}

#pause{
    background-image: url('../images/pause.svg');
}

#backward{
    background-image: url('../images/-10.svg');

}

#forward{
    background-image: url('../images/+10.svg');
}