@import './buttons.css';
body{
    background-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239e469f' fill-opacity='0.13'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* background-color: #000000; */
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    max-inline-size: 900px;
    margin: auto ;
}

.player{
    margin-block-start: 100px;
    /* border: 10px solid red; */
    position: relative;
} 

.player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;  
    object-fit: cover;  
}

.player-title{
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}
.player-action{
    position: absolute;
    /* border: 10px solid blue; */
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* z-index: 2; */

}

.player-progress{
    /* background: yellow; */
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input{
   flex: 1;
}

.player-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.player:hover  .player-overlay{
  
    opacity: 1;
}